.wrapper {
  width: 100%;
  padding: 80px 0;
  background: #fafafa;
}

.heading {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  color: #9aa0ac;
  margin-bottom: 60px;
  letter-spacing: 2px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 80px;
  max-width: 1200px;
  margin: auto;
}

.imageBox {
  width: 48%;
}

.image {
  width: 100%;
  height: auto;
}

.form {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.formTitle {
  font-size: 18px;
  color: #6b6b6b;
  margin-bottom: 20px;
  font-weight: 500;
}

.label {
  font-size: 8px;
  color: #9d9ea2;
  margin-bottom: 4px;
}

.input,
.textarea {
  width: 100%;
  padding: 14px;
  border-radius: 6px;
  border: 1px solid #e5e7eb;
  margin-bottom: 20px;
  font-size: 14px;
  outline: none;
}

.textarea {
  height: 120px;
  resize: none;
}

.button {
  background: #6f42c1;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 6px;
  width: 120px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
}

.button:hover {
  opacity: 0.9;
}

/* ---------- RESPONSIVE ---------- */
@media (max-width: 900px) {
  .container {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .imageBox,
  .form {
    width: 85%;
  }
}

@media (max-width: 500px) {
  .heading {
    font-size: 30px;
  }

  .form {
    width: 95%;
  }
}
