/* -------- WRAPPER -------- */

.wrapper {
  max-width: 1100px;
  /* width: 100%; */
  justify-content: center;
  /* align-items: ; */
  margin: 0 auto;
  background-color: #f0f0f8;
  padding: 60px 20px;
 
}

/* -------- HEADINGS -------- */
.TopHeading{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subHeading {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0.25em;
  color: #A0A4B3;
  margin-bottom: 15px;
}

.mainHeading {
  text-align: center;
  font-size: 28px;
  font-weight: 500;
 color: #583f99;
  line-height: 1.2;
  margin-bottom: 50px;
  width: 50%;
}

.highlightOrange {
  color: #d79f42;
  font-weight: 700;
}

.highlightGreen {
  color: #61a96b;
  font-weight: 700;
}

/* -------- WHAT WE OFFER -------- */
.offerHeading {
  font-size: 18px;
  font-weight: 600;
 color: var(--color-primary);
  margin-bottom: 25px;
}

.offerGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px 40px;
  margin-bottom: 50px;
  
}

.offerItem {
  display: flex;
  /* justify-content: center; */
  gap: 25px;
  color: #4a4a4a;
  font-size: 15px;
  margin-bottom: 20px;
}

.icon {
  width: 24px;
  height: 24px;
}

/* -------- CATEGORY CARDS -------- */
.cardContainer {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 20px;
  margin-top: 30px;
 
}

.card {
  display: flex;
  gap: 20px;
  background: #ffffff;
  border-radius: 8px;
  padding: 25px 20px;
  border: 1px solid #e1e1e1;
  width: 50%;
}

.cardLetter {
  font-size: 14px;
  /* font-weight: 600; */
  /* background: #f1eaff; */
  /* color: #5a2ea6; */
  color: gold;
  width: 38px;
  height: 38px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardTitle {
  font-size: 12px;
  font-weight: 600;
    color: var(--color-primary);
  margin-bottom: 8px;
}

.cardText {
  font-size: 14px;
  color: #5c5c5c;
  line-height: 1.6;
}

/* -------- RESPONSIVE -------- */
@media (max-width: 800px) {
  .offerGrid {
    grid-template-columns: 1fr;
  }

  .mainHeading {
    font-size: 22px;
  }

  .card {
    flex-direction: column;
  }
}
