/* -------- WRAPPER -------- */
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 20px;
  font-family: "Inter", sans-serif;
}

/* -------- HEADINGS -------- */
.subHeading {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  /* letter-spacing: 0.35em; */
  color: #A0A4B3;
  margin-bottom: 15px;
}

.mainHeading {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.4;
  color: #5A2EA6;
  margin-bottom: 40px;
}

.highlightPurple {
  color: #5A2EA6;
  font-weight: 700;
}

.highlightGold {
  color: #C2872C;
  font-weight: 700;
}

/* -------- BOX (01 Sustainability) -------- */
.box {
  width: 100%;
  /* max-width: 680px; */
  /* margin: 0 auto 40px auto; */
  border: 1px solid #BFA0E8;
  border-radius: 8px;
  padding: 15px 20px;
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.boxNumber {
  color: #C2872C;
  font-size: 26px;
  font-weight: 700;
}

.boxTitle {
  font-size: 16px;
  font-weight: 500;
  color: #343F52;
}

/* -------- CONTENT GRID -------- */
.grid {
  display: grid;
  grid-template-columns: 1fr 1.1fr;
  gap: 50px;
  align-items: flex-start;
}

/* -------- LEFT IMAGE BLOCK -------- */
.imageBlock {
  background: #EDECEC;
  padding: 20px;
  border-radius: 10px;
}

.icon {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

/* -------- RIGHT TEXT -------- */
.title {
  font-size: 20px;
  font-weight: 600;
  color: #1C1C1C;
  margin-bottom: 15px;
}

.text {
  color: #5E5E5E;
  font-size: 15px;
  line-height: 1.7;
  max-width: 500px;
}

/* -------- RESPONSIVE -------- */
@media (max-width: 900px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .icon {
    max-width: 250px;
    margin: 0 auto;
    display: block;
  }
}
